# "Pandas Kickstart"

> "Pandas kickstart - kickstart Pandas"
- toc: false
- branch: master
- badges: true
- comments: true
- categories: [diagram, jupyter, code, Pandas, kickstart]

#### Make sure to keep the below packages updated and execute the pip's on your local system.
```
pip install pandas==1.1.2
pip install openpyxl==3.0.5
pip install xlrd==1.2.0
pip install hypothesis
pip install jupyterlab==3.0.0b4
pip install bottleneck
pip install numexpr
pip install python-dateutil
pip install pytz
pip install NumPy
pip install setuptools
pip install pytest
pip install BeautifulSoup4==4.9.1 --use-feature=2020-resolver
```

side notes:
https://blog.python.org/2020/07/upgrade-pip-20-2-changes-20-3.html

Execute these commands: python -m pip install --upgrade pip, pip check and finally install your package using pip install <PACKAGE> --use-feature=2020-resolver. This will install the correct versions for the dependencies. â€“ arun Aug 31 at 18:41

installation dependency
https://pandas.pydata.org/docs/getting_started/install.html

Code taken from 
https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
            "Name": ["Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"],
            "Age": [22, 35, 58],
            "Sex": ["male", "male", "female"]}
   )

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
ages = pd.Series([22, 35, 58], name="Age")

In [13]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [7]:
df["Age"].max()

58

In [8]:
ages.max()

58

In [9]:
 df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000